<div class="modal-header">
    <h3 class="modal-title">Modal</h3>
</div>
<div class="modal-body">

    
    <p><b>Ejemplo con una vista parcial de ASP.NET MVC</b></p>
    
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="salir()">salir</button>

      <button class="btn btn-default btn-sm" ng-click="cancel()">Cancelar</button>
</div>
